.contact--content-white {
    width: 75%;
    background-color: white;
    padding: 1.5em;
}

.contact--content-white .two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact--content-white h3 {
    margin: 0.8em 0;
}

@media only screen and (max-width: 720px) {
    .contact--content-white {
      width: auto;
    }
  }

  @media only screen and (max-width: 580px) {
    .contact--content-white .two-columns {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
  }