.services--content {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.services--content ul,
.services--content ol {
    margin: 0px;
}

.services--content h3 {
    margin-top: 2em;
}

.services--content ol>li {
    margin-bottom: 1em;
}

.services--content li {
    margin: 0.2em 0;
}

.services--content h3:first-child {
    margin-top: 0em;
}

.services--content-volt {
    width: 75%;
    background-color: var(--color-volt);
    padding: 1.5em;
}

.services--content-white {
    width: 75%;
    background-color: white;
    padding: 1.5em;
}

.services--category {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5em;
}

.services--category--tile {
    display: flex;
    padding: 0.5em;
    aspect-ratio: 1;
    background-color: aqua;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
    color: var(--color-volt);
    font-weight: 600;
    font-size: 0.9em;
    box-shadow: 0px 0px var(--color-volt);
    transition: all ease-out 0.1s;
    text-decoration: none;
}

.services--category--tile:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px var(--color-volt);
    transition: all ease-out 0.2s;
}

.services--category a {
    text-decoration: none;
}

.services--content nav {
    margin: 0;
}

.services--content nav a {
    padding: 1em;
}

#bezpecnostnizarizeni {
    background-image: url("../img/tiles/bezpecnostnizarizeni.jpg");
}

#elektroinstalacevprumyslu {
    background-image: url("../img/tiles/elektroinstalacevprumyslu.jpg");
}

#elektroinstalacevdomech {
    background-image: url("../img/tiles/elektroinstalacevdomech.jpg");
    hyphens: auto;
}

#zahranicnispoluprace {
    background-image: url("../img/tiles/zahranicnispoluprace.jpg");
}

#instalaceazprovoznenilinek {
    background-image: url("../img/tiles/instalaceazprovoznenilinek.jpg");
}

#smarthomeinstalace {
    background-image: url("../img/tiles/smarthomeinstalace.jpg");
}

@media only screen and (max-width: 1100px) {
    .services--category {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5em;
    }
}

@media only screen and (max-width: 720px) {

    .services--content-volt,
    .services--content-white {
        width: auto;
    }
}

@media only screen and (max-width: 580px) {
    .services--category {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5em;
    }

    .services--content ol {
        padding-left: 1.5em;
    }

    .services--content ul {
        padding-left: 0.8em;
    }
}