.services--content {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.services--content-volt {
    width: 80%;
    background-color: var(--color-volt);
    padding: 1.5em;
}

.services--category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2em;
}

.services--category--tile {
    display: flex;
    padding: 1em;
    aspect-ratio: 1;
    background-color: aqua;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
    color: var(--color-volt);
    font-weight: 600;
    font-size: 0.9em;
    box-shadow: 0px 0px black;
    transition: box-shadow ease-out 0.1s;
}

.services--category--tile:hover {
    box-shadow: 5px 5px black;
    transition: box-shadow ease-out 0.2s;
}

#bezpecnostnizarizeni {
    background-image: url("../img/tiles/bezpecnostnizarizeni.jpg");
}

#elektroinstalacevprumyslu {
    background-image: url("../img/tiles/elektroinstalacevprumyslu.jpg");
}

#elektroinstalacevdomech {
    background-image: url("../img/tiles/elektroinstalacevdomech.jpg");
}

#zahranicnispoluprace {
    background-image: url("../img/tiles/zahranicnispoluprace.jpg");
}

#instalaceazprovoznenilinek {
    background-image: url("../img/tiles/instalaceazprovoznenilinek.jpg");
}