
footer {
    color: var(--color-easy);
    background: var(--color-black);
    margin-top: 4em;
    padding: 1em 0;
  }

  .footer {
    display: grid;
    grid-template-columns: auto auto;
  }

  .footer .end {
    text-align: right;
  }

  
  .social {
    margin-right: 1.2em;
  }