.App {
    background-color: var(--color-easy);
    background-image: url("./img/bg.jpg");
    background-position: center top;
}

/* MARK: CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    opacity: 100%;
    transform: translateY(0);
    transition: all ease-out 0.2s;
}

h1,
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 8px;
}

h3,
h4 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 3em 0px 8px;
}

h2 em {
    font-style: normal;
    text-shadow: var(--color-volt) -2px 2px 0px;
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0.8em 0;
}

ul {
    padding-left: 1.5em;
    list-style-type: "- ";
}