@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  --color-black: #2E2E2E;
  --color-volt: #E6FF00;
  --color-easy: #f7f7f7;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
  margin: 0;
  background-color: var(--color-black);
}





.animate {
  transform: translateY(-5px);
  opacity: 0%;
  transition: opacity ease-out 0.01s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MARK: HEADER */
header .contact {
  background-color: var(--color-volt);
  padding: 1em;
  text-align: right;
  font-size: 0.9em;
}

header .container {
  display: flex;
  justify-content: space-between;
} 

header h1 {
  text-align: left;
  font-size: 0.9em;
  margin: 0;
}

header p {
  margin: 0;
  line-height: normal;
}

header img {
  margin-top: -4px
}

/* MARK: MEDIA */

@media screen and (max-width: 1000px) {
  .ref p:has(img) {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  nav li {
    padding: 1em 1em;
  }

  nav li:hover {
    background-color: var(--color-volt);
    translate: 0px;
  }

  .ref p:has(img) {
    grid-template-columns: 1fr;
  }

  .ref p:has(img) img:nth-child(n + 2) {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  nav li {
    display: block;
    padding: 1em 1em;
    margin-right: 0em;
    margin-bottom: 0.5em;
    outline: 2px solid var(--color-volt);
  }

  .ref .markdown-container {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .ref img {
    aspect-ratio: 1.5;
  }
  
  .ref p:has(img) {
    margin-top: 2em;
    margin-bottom: 0;
  }

  .ref h2 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .ref ul {
    margin-top: 1em;
  }
}

@media screen and (max-width: 420px) {
  header h1 {
    display: none;
  }
}