@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap');

html {
  --color-black: #2E2E2E;
  --color-volt: #E6FF00;
}

body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
  margin: 0;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: var(--color-volt) 1px 1px 0px;
  margin: 20px 0px 8px;
}

h2, h3, h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0px 8px;
}

p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0.8em 0;
}

ul {
  padding-left: 1.5em;
  list-style-type: "- ";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MARK: HEADER */
header .contact {
  background-color: var(--color-volt);
  padding: 0.5em;
  text-align: right;
  font-size: 0.9em;
}

header img {
  margin-top: -4px
}

/* MARK: NAV */
nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  padding: 1em 3em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 700;
  transition: all ease-out 0.1s;
  border: var(--color-volt) 2px solid;
  offset: 0px;
}

nav li:hover {
  background-color: var(--color-volt);
  transform: translateX(-6px) translateY(-1px);
}